@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

/* Tailwind Forms Fake: */
input {
    border: 1px solid grey;
    width: 100%;
    box-sizing: border-box;
    background: white;
}

label {
    display: block;
    padding: 2px 8px;
}

@layer components {
    .label {
        @apply block mb-1 font-medium text-gray-500 dark:text-gray-300;
    }

    .input {
        @apply block shadow-sm p-2 border border-gray-500 dark:border-gray-600 rounded-md w-full text-gray-500;
    }

    .input-error {
        @apply text-red-500 dark:text-red-400 text-sm;
    }

    .btn-primary {
        @apply bg-red-700 hover:bg-red-800 p-2 rounded-md font-medium text-slate-900;
    }

    /* Weil das CSS im Kurs leider überhaupt nicht greift, dann so: */
    .input-range {
        @apply bg-gray-200 dark:bg-gray-700 rounded-lg w-full h-4 appearance-none cursor-pointer;
    }

    .input-range::-webkit-slider-runnable-track {
        @apply bg-gray-200 dark:bg-gray-700 rounded-lg h-4;
    }

    .input-range::-moz-range-track {
        @apply bg-gray-200 dark:bg-gray-700 rounded-lg h-4;
    }

    .input-range::-webkit-slider-thumb {
        @apply bg-red-700 border-2 dark:border-gray-800 rounded-full w-5 h-5 appearance-none;
        margin-top: -6px; /* centers the thumb vertically */
    }

    .input-range::-moz-range-thumb {
        @apply bg-red-700 border-2 dark:border-gray-800 rounded-full w-5 h-5;
    }
    /* Ende Range Slider */
}
